<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID">
    <!-- Web项目中配置proxool，并自动加载 -->
  	<servlet>
     <servlet-name>ServletConfigurator</servlet-name>
     <servlet-class>
     org.logicalcobwebs.proxool.configuration.ServletConfigurator
     </servlet-class>
     <init-param>
      <param-name>propertyFile</param-name>
      <param-value>WEB-INF/classes/proxool.properties</param-value>
     </init-param>
     <load-on-startup>1</load-on-startup>
    </servlet>
        <servlet>
	   <servlet-name>AdminServlet</servlet-name>
	   <servlet-class>org.logicalcobwebs.proxool.admin.servlet.AdminServlet</servlet-class>
	</servlet>

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PoolServlet</servlet-name>
    <servlet-class>com.bjsxt.pool.PoolServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>PoolServlet</servlet-name>
    <url-pattern>/pool</url-pattern>
  </servlet-mapping>
	<servlet-mapping>
	   <servlet-name>AdminServlet</servlet-name>
	   <url-pattern>/admin.jsp</url-pattern>
	</servlet-mapping>
	</web-app>