<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>405-project-session01</display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>loginDao</servlet-name>
    <servlet-class>loginDao</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckLoginPage</servlet-name>
    <servlet-class>com.bjsxt.login.CheckLoginPage</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>showInfoServlet</servlet-name>
    <servlet-class>com.bjsxt.login.showInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>checkCookieServlet</servlet-name>
    <servlet-class>com.bjsxt.login.checkCookieServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>loginDao</servlet-name>
    <url-pattern>/dao</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckLoginPage</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showInfoServlet</servlet-name>
    <url-pattern>/showInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkCookieServlet</servlet-name>
    <url-pattern>/cc</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>